* {
    padding: 0;
    margin: 0;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    display: block;
    // background-color: #ffffff;
    // background-image: linear-gradient(to bottom, rgba(213, 97, 157, 0.86), #ffffff);
}

